body {
    background-image: url("../images/backg.jpg");
    background-size: cover;      /* makes the image cover the screen */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
}

/* Couleur normale */
.nav-underline .nav-link {
    color: darkred;
}

/* Survol */
.nav-underline .nav-link:hover {
    color: darkred;
}

/* Actif (clic) */
.nav-underline .nav-link.active,
.nav-underline .nav-link:active,
.nav-underline .nav-link:focus {
    color: darkred;
    border-bottom-color: darkred;
    box-shadow: none;
}

.addBtn-div {
  margin: 0;
  height: 10vh;
  display: grid;
  place-items: center;
}

.add {
    margin:25px;
    font-size: 30px;
    font-weight:bold;
    border-radius: 30px;
    cursor:pointer;
    padding:10px 20px;
    transition: background-color 0.5s ease;
    background-color: hsl(62, 94%, 48%); 
}

.add:hover{
    background-color: hsl(62, 94%, 38%);   
}

.big-div {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.small-div {
    border:1px solid;
    background-color: lightyellow;  
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
    text-align: center; 
}