body{
    align-items: center;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:5px solid;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    background-color: lightgrey;
}

#display{
    font-size: 60px;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0,0,30%);
    margin-bottom: 25px;
}

#controls button {
    font-size: 30px;
    font-weight:bold;
    border-radius: 30px;
    cursor:pointer;
    margin:5px;
    padding:10px 20px;
    transition: background-color 0.5s ease;
}

.big-div {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#startBtn{
    background-color: hsl(93, 98%, 50%);
}
#startBtn:hover{
    background-color: hsl(93, 98%, 40%);   
}

#stopBtn{
    background-color: hsl(10, 67%, 54%);
}
#stopBtn:hover{
    background-color: hsl(10, 67%, 44%);   
}

#resetBtn{
    background-color: hsl(183, 81%, 69%);
}
#resetBtn:hover{
    background-color: hsl(183, 81%, 49%);   
}

h1 {
    text-align: center;
    color: darkred;
}

#welcome {
    color: black;
    margin-top: 10px;
}
